body {
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

main#container {
    border: 5px solid rgb(0, 0, 0);
    background-image: linear-gradient(to top, rgb(10, 10, 10) 0%, 50%, rgb(0, 0, 100) 100%);
}

h1.titulo {
    font-family: 'Palatino', serif;
    color: dodgerblue;
    text-shadow: 2px 1px 0 rgb(20, 10, 110), -5px -5px 3px rgb(0, 0, 0);
    font-size: 36px;
}

p.frase {
    font-family: 'Courier New', monospace;
    color: rgba(255, 255, 255, 0.836);
    text-shadow: 2px 1px 0 rgb(20, 10, 110), -5px -5px 3px rgb(0, 0, 0);
    font-size: 15px;
}

p.autor {
    font-family: 'Palatino', serif;
    color: rgba(255, 255, 255, 0.836);
    text-shadow: 2px 1px 0 rgb(20, 10, 110), -5px -5px 3px rgb(0, 0, 0);
    text-decoration: rgb(255, 255, 255) underline;
    font-size: 12px;
}